/*
 * Background
 */
html { 
  background: url(/static/images/IMG_5631-medium.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
    color:rgb(160, 160, 160);
}

a:hover {
    text-decoration:none;
    color:rgb(120, 120, 120)
}

div#page {
    position:absolute;
    bottom:5%;
    width:100%;
}

div#links {
    margin-top:1em;
}

div#link-margin, div#links a.link, div#link-after {
    display: inline-block;
    height:2em;
    background:rgba(0, 0, 0, 0.6);
    width: 13%;
    text-align: center;
    padding:0.3em;
    color:rgb(160, 160, 160);
}

div#link-after {
    width:auto;
    text-align:right;
    padding:0.3em 3em;
}

div#links a.link:hover {
    background:rgba(250, 250, 250, 0.4);
    text-decoration:none;
    color:#111;
}

img#banner-image {
    width:100%;
}
