/*
 * Background
 */
html { 
  background: url(/static/images/IMG_5631-medium.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
    color:rgb(200, 200, 200);
}

a:hover {
    color:#bb4511;
    text-decoration:none;
}

div#page {
    position:absolute;
    bottom:5%;
    width:100%;
}

div#links {
    margin-top:1em;
    font-family:"Droid Sans", 'Open Sans', sans-serif, Helvetica;
}

div#link-margin, div#links a.link, div#link-after {
    display: inline-block;
    height:2.2em;
    font-size:1.1em;
    background:rgba(0, 0, 0, 0.6);
    width: 15%;
    text-align: center;
    padding:0.4em;
    color:rgb(200, 200, 200);
}

div#link-margin {
    width:13%;
}


div#link-after {
    width:auto;
    text-align:right;
    padding:0.4em 3em;
}

div#links a.link:hover {
    background:rgba(0, 0, 0, 0.7);
    text-decoration:none;
    color:#bb4511;
}

img#banner-image {
    width:100%;
}
