/*
 * Image block
 */
html, body {
    background:#fdfdfd;
    font-size: 12pt;
    height:100%;
}

.row {
    margin-right:0;
}

#banner { 
    height:430px;
    background: url(/static/images/IMG_5631-medium.jpg) no-repeat center -185px fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom:1px solid rgb(40, 40, 40);
}

div#content {
    height:100%;
    color:rgb(60, 60, 60);
    margin-left:0.3em;
}

div#content p, pre, ul, ol {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens:auto;
}

div#content li p {
    margin:0;
}

div#info {
    text-align:right;
}

blockquote {
    padding:10px 10px 10px 40px;
    background-color:#f0f0f0;
    color:rgb(60, 60, 60);
    font-size:1em;
}

div#title h1 {
    font-weight:bolder;
    width:100%;
    font-size:4em;
    line-height:1.05em;
    margin: 0;
}

div#title {
    color:#fdfdfd;
    background:rgb(60, 60, 60);
    margin-top:1em;
    margin-bottom:1.5em;
    padding-top:1.5em;
}


span.kw {
    color: rgb(150, 70, 30);
    font-weight:bold;
}

span.dv {
    color: rgb(10, 50, 180);
}

span.co {
    color: rgb(50, 50, 50);
    font-style:italic;
}

div.col-md-6 {
    max-width:600px;
}

div#footer {
    margin:2em 0 0 0;
    height:3em;
    width: 100%;
    color:rgb(202, 202, 202);
    background:rgb(60, 60, 60);
}

div#footer p {
    width:100%;
    padding-top:0.9em;

    text-align:right;
    font-size: 0.95em;
}
