$def with(page, page_id)
$var title: Dynkarken: $page["title"]

<style>
$if page["cover"]:
    $ widths = [800, 1024, 1280, 1600, 2000]
    @media screen {
        body {
            background: url($(page["cover"](800))) no-repeat center center;
        }
        div#footer-box {
            background: url($(page["cover"](800))) no-repeat center bottom; 
        }
    }
    $for i in range(len(widths)-1):
        @media screen and (max-width: $(widths[i+1]+1)px) and (min-width: $(widths[i]+1)px) {
            body {
                background: url($(page["cover"](widths[i+1]))) no-repeat center center;
            }
            div#footer-box {
                background: url($(page["cover"](widths[i+1]))) no-repeat center bottom; 
            }
        }
</style>
<body>
    <div id="cover">
        <div id="header">
            <div id="title-box">
                <div class="row title" id="title">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>$page["title"]</h1>
                        <h2>$page.get("subtitle","")</h2>
                        <div id="cover-links">
                        $for link in page["links"]:
                            <div class="cover-link">
                                <a href="$link["href"]">$link["name"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    $if page["content"] != "":
        <div id="page">
            <div class="row" id="content">
                $if page["published"] != "":
                    <div class="col-md-offset-2 col-md-7">
                        <div id="date">
                            <span>$page["published"]</span>
                        </div>
                    </div>
                <div class="col-md-offset-2 col-md-7">
                    $:page["content"]
                </div>
            </div>
            <div id="footer-box">
                <div class="row" id="footer">
                    <div class="col-md-offset-2 col-md-7 footer">
                        <p>Dynkarken is the personal website of &nbsp;<a href="/about/">Jonas Arnfred</a></p>
                    </div>
                </div>
            </div>
        </div>
