$def with(name, page_id, content)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dynkarken: $name</title>

    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/page.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="row" id="banner">
        &nbsp;
    </div>
    <div class="row" id="page">
        <div id="content">

            <h1>$name</h1>
            <div id="text" lang="en">
                $:content
            </div>
        </div>
    </div>
    <div id="footer">
        <p>Dynkarken is the personal website of <a href="/about/">Jonas Arnfred</a></p>
    </div>

    <script src="/static/lib/curl.js" type="text/javascript"></script>
    <script>
	curl({ 
	    paths: { 
	      lib: '/static/lib/',
	      js: '/static/js/',
	      templates : '/static/templates/',
	      pages : '/static/pages',
          ractive : "/static/lib/ractive-legacy.min",
	    } 
	  },
	  //["js/page", "text!pages/$(page_id)/page.json", "text!pages/$(page_id)/page.html", "domReady!"],
      [], function() {//controller, page_data, page_content) {
	    // Nothing here. Check controller for initialization
	    ////page_json = JSON.parse(page_data);
	    //controller.init(page_json, page_content);
	  });
      </script>
  </body>
</html>
